@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { */
  /* :root {
  
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* navlinks hover */
.nav_links{
position: relative;
}
.nav_links::before{
 content: " ";
 position: absolute;
 background: #000;
 width: 0%;
 height: 10%;
 bottom: 0;
 left: 0;
 transition: all 500ms ease;
}
.nav_links:hover::before {
  transform-origin: right;
  transition: all 500ms ease;
  background-image: linear-gradient(220deg, #8B9A06,#464D09);

 width: 100%;
 height: 10%;
 bottom: 0;
}




/* Path 4.2

position: absolute;
left: -0.96%;
right: 40.22%;
top: 71.2%;
bottom: 24.56%;

/* theme */
/* background: #FFFFFF; */
.custom-shape-divider-bottom-1721955052 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.top_curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721955052 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 123px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1721955052 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-trade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

}


.custom-shape-trade svg {
  position: relative;
    display: block;
    width: calc(153% + 1.3px);
    height: 359px;
}

.custom-shape-trade .shape-fill {
  fill: #FFFFFF;
}


/* divide svg */
.custom-shape-divider-top-1721991272 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1721991272 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1721991272 .shape-fill {
  fill: #FFFFFF;
}