@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  /* .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  } */
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    overflow-x: hidden;
  }
}


/* These are some custom classes  */
 .small_text{
  font-size: clamp(1rem, 2vw, 1rem);
 }
 .Hero_Txt{
  font-size: clamp(1rem, 4vw, 6.5rem);
 }
 .Hero_Mid_Txt{
  font-size: clamp(0rem, 2vw, 1rem);
 }
.About_Txt{
  font-size: clamp(1rem, 1.5vw, 1.6rem);
 text-justify:distribute;
}




/* navlinks hover */
.nav_links{
position: relative;
font-size: clamp(1rem, 2vw, 1rem);
}
 .MoreNavLinks li{
position: relative;
font-size: clamp(1rem, 2vw, 1rem);

}
.nav_links::before{
 content: " ";
 position: absolute;
 background: #000;
 width: 0%;
 height: 10%;
 bottom: 0;
 left: 0;
 transition: all 500ms ease;
}
.nav_links:hover::before {
  transform-origin: right;
  transition: all 500ms ease;
  background-image: linear-gradient(220deg, #8B9A06,#464D09);

 width: 100%;
 height: 10%;
 bottom: 0;
}
.active:before {
  transform-origin: right;
  transition: all 500ms ease;
  background-image: linear-gradient(220deg, #8B9A06,#464D09);

 width: 100%;
 height: 10%;
 bottom: 0;
}





.custom-shape-divider-bottom-1721955052 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  padding: 0;
  transform: rotate(180deg);
}
.top_curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721955052 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 123px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1721955052 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-trade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

}


.custom-shape-trade svg {
  position: relative;
    display: block;
    width: calc(153% + 1.3px);
    height: 359px;
}

.custom-shape-trade .shape-fill {
  fill: #FFFFFF;
}


/* divide svg */
.custom-shape-divider-top-1721991272 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1721991272 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 106px;
}

.custom-shape-divider-top-1721991272 .shape-fill {
  fill: #FFFFFF;
}


.review_top_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

/* Home Buttons */
button {
  margin: 0.5em;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all ease-in;
  border: 1px transparent solid; 

 }
.HomeBtn:hover {
  color: #464D09;
  border: 1px #7e8638 solid; 
 }
 
 .HomeBtn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s ease;
 }
.ExchangeBtn:hover {
  color: #ffffff;
   border: 1px #7e8638 solid; 
 }
 
 .ExchangeBtn:after {
  content: "";
  background: #464D09;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s ease;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }

 /* Community background Image */
 .community::before{
  content: "";
  background-image: url("../../public/community.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.4;
  z-index: 2;
 }
 /* traingle */
 .triangle{
  clip-path: polygon(0 57%, 100% 100%, 100% 0);
 }

 body:has(.top_left_ball:hover) .top-right-pop-review{
  scale: 1.1;
  opacity: 1;
 }
 body:has(.ball:hover) .pop-review{
  scale: 1.1;
  opacity: 1;
 }
 body:has(.ball:hover) .pop-review{
  scale: 1.1;
  opacity: 1;
 }
 body:has(.ball:hover) .pop-review{
  scale: 1.1;
  opacity: 1;
 }
/* open desktop more option */
body:has(.more:hover,.more_options:hover) .more_options{
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* styles for custom bar */
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  padding-right: 10px;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
}

.checkmark span {
  width: 25px;
  height: 3px;
  border-radius: 100px;
  @apply bg-background;
  /* background-color: rgb(0, 0, 0); */
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
}

.checkmark span:nth-child(2) {
  top: 50%;
}

.checkmark span:nth-child(3) {
  top: 90%;
}

.container input:checked + .checkmark span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.container input:checked + .checkmark span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}

.container input:checked + .checkmark span:nth-child(3) {
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  opacity: 0;
}

/* this is the styles for floating hero and responsiveness */
/* @media (min-width: 768px) and (max-width: 1023px) {
  .floating-containers-wrapper{
    bottom: -75%;
  }
}
@media  (min-width: 1023px) {
  .floating-containers-wrapper{
    bottom: -50%;
  }
} */

.gradient-text {
  background: linear-gradient(to bottom, #adbf09, #464D09); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For modern browsers */
  color: transparent; /* For fallback */
}